<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Movie_Info_Seeker_MUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Movie_Info_Seeker_MUI.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value>8e8a05c6a2073867606d3327274c3407</value>
            </setting>
            <setting name="selectedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="appDir" serializeAs="String">
                <value />
            </setting>
        </Movie_Info_Seeker_MUI.Properties.Settings>
    </userSettings>
</configuration>